div {
    background-color: black; 
    padding: 0;  
    margin: 0;
    border-radius: 2%;
}

.header {
background-image: url(../assets/neige.jpg);
background-size: 100% auto; 
  background-repeat: no-repeat;
  height: 200px;
  color: white;
  text-align: center; 
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
    color: red;
}

.buttonTxt {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}
.buttonTxt > p {
    color: white;
    text-align: start;
}

